extends ../inc/layout

block content
 div
  .box.box-solid.box-primary
    .box-header.with-border
      h3.box-title
        i.fa.fa-cube.fa-lg
        |  UOM List
      div.box-tools.pull-right
        button.btn.btn-box-tool(type="button", onclick="AddUOM()")
          i.fa.fa-plus
    .box-body
      .row
        .col-md-12
           table.table
             thead
               tr
                 th Code
                 th Description
                 th #Action
             tbody
               each item in array
                 tr
                   td #{item.lookupcode}
                   td #{item.description}
                   td 
                      input(type="hidden", value=item._id)
                      button.btn.btn-primary.btn-sm(type="button", data-lookup=item.LookupCode, onclick="EditUOM('" + item._id + "')")
                        i.fa.fa-pencil-square-o(aria-hidden='true') &nbsp;Edit
                      span &nbsp;
                      button.btn.btn-danger.btn-sm(type="button", onclick="DeleteUOM('" + item._id + "')") 
                        i.fa.fa-trash-o(aria-hidden='true') &nbsp;Delete
 form(action="./delete", id="frmUOMDelete", name="frmUOMDelete", method="post")
  input(type="hidden", name="hdnDeleteId", id="hdnDeleteId")
  input(type="hidden", name="hdnDeleteCategory", id="hdnDeleteCategory", value="uom")

 form(action="./save", id="frmUOM", name="frmUOM", method="post")
  div
   .modal#uomModal
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') x
            h4.modal-title UOM
          .modal-body            
             div.row
              div.col-md-12
               input.form-control.input-sm(type="text", name="lookupcode", id="LookupCode", placeholder="UOM Code")
             div.row(style="margin-top:10px")
              div.col-md-12
               textarea.form-control.input-sm(name="description", id="Description", placeholder="Description")
               input(type="hidden", name="category", id="category", value="uom")
               input(type="hidden", name="id", id="id")
          .modal-footer
            button.btn.btn-default.btn-sm(type='button', data-dismiss='modal')
             i.fa.fa-times(aria-hidden='true') &nbsp; Close
            button.btn.btn-primary.btn-sm(type='submit')
             i.fa.fa-floppy-o(aria-hidden='true') &nbsp; Save
 block scripts
 script(type="text/javascript").
  function AddUOM() {
   $('#uomModal').modal('show');
  }
  function EditUOM(id) {
   $.ajax({
    url: './' + id,
    method: 'get',
    contentType: 'application/json',
    success: function(res) {
     $('#LookupCode').val(res.lookupcode);
     $('#Description').val(res.description);
     $('#id').val(res._id);
     $('#uomModal').modal('show');
    }
   });
  }
  function DeleteUOM(id) {
   $('#hdnDeleteId').val(id);
   $('#frmUOMDelete').submit();
  }