html(lang="en")
 head
  title Login
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="")
  link(href="/Css/font-awesome-4.5.0/css/font-awesome.min.css", rel="stylesheet")
  link(href="/Css/bootstrap.css", rel="stylesheet")
  link(href="/Css/AdminLTE.css", rel="stylesheet")
  style(type="text/css").
   html, body {
    min-height: 0%;
   }
 body.login-page
  div.login-box
   div.login-logo
    a(href="#") 
     b NET
     |  Stock
   div.login-box-body
    if warning
     div.alert.alert-danger.alert-dismissible
      button.close(type="button", data-dismiss="alert", aria-hidden="true") x
      h4
       i.icon.fa.fa-ban Alert!
      | #{message}
    p.login-box-msg Sign in to start your session
    form(method="post", action="/account/register", id="frmRegister", name="frmRegister")
     div.form-group.has-feedback
      input.form-control.input-sm(type="text", id="FirstName", name="user[firstname]", placeholder="First Name")
     div.form-group.has-feedback
      input.form-control.input-sm(type="text", id="LastName", name="user[lastname]", placeholder="Last Name")
     div.form-group.has-feedback
      input.form-control.input-sm(type="email", id="Email", name="user[email]", placeholder="Email")
     div.form-group.has-feedback
      input.form-control.input-sm(type="password", id="Password", name="user[password]", placeholder="Password") 
     div.form-group.has-feedback
      input.form-control.input-sm(type="text", id="MobileNumber", name="user[mobile]", placeholder="Mobile Number")
     div.form-group.has-feedback
      select#branch.form-control.input-sm(name="user[branch]", placeholder="please select")
        option
        each bran in branches
          option(value=bran.BranchID) #{bran.BranchName}
     div.form-group.has-feedback
      button(type="submit", class="btn btn-primary btn-block btn-sm") 
       i.fa.fa-sign-in(aria-hidden="true")
       |  Register
     div.form-group.has-feedback
      button(type="button", class="btn btn-success btn-block btn-sm", onclick="location.href = '/account/login'") 
       i.fa.fa-sign-in(aria-hidden="true")
       |  Sign In
  script(src="/Scripts/jquery-1.10.2.js")
  script(src="/Scripts/jquery.validate.js")
  script(src="/Scripts/bootstrap.js")
  script(type="text/javascript").
   function OnBranchChanged(el) {        
        $('#hdnBranchSelected').val($('#BranchID option:selected').text());
    }

    $(function () {
        $('#CompanyCode').on('change', function () {
            var compCode = $('#CompanyCode').val();
            sessionStorage.setItem('SsnLoginID', $('#Email').val());
            sessionStorage.setItem('SsnPassword', $('#Password').val());
            $('#frmLogin').attr('action', '/Account/Login?companyCode=' + compCode)
            $('#frmLogin').submit();            
        });

        
    });

    function LoginFrmValidation() {
        $('#frmLogin').validate({
            rules: {
                CompanyCode: {
                    required: true
                },
                BranchID: {
                    required: true
                },
                Email: {
                    required: true
                },
                Password: {
                    required: true
                }
            },
            messages: {
                CompanyCode: {
                    required: 'Company Code is required'
                },
                BranchID: {
                    required: 'BranchID is required'
                },
                Email: {
                    required: 'Username is required'
                },
                Password: {
                    required: 'Password is required'
                }
            }
        });
    }

    function btnLoginClick() {
        LoginFrmValidation();
        if ($('#frmLogin').valid()) {
            $('#frmLogin').submit();
        }
    }

