head
 title Original
 meta(name="viewport", content="width=device-width, initial-scale=1.0")
 meta(name="description", content="")
 link(href="/Css/font-awesome-4.5.0/css/font-awesome.min.css", rel="stylesheet")
 link(href="/Css/bootstrap.css", rel="stylesheet")
 link(href="/Css/AdminLTE.css", rel="stylesheet")
 link(href="/Css/_all-skins.min.css", rel="stylesheet")
 link(href="/Css/blue.css", rel="stylesheet")
 style(type="text/css").
  .class_checkbox {
            width: 20px;
            height: 20px;
            display: inline-block;
            *display: inline;
            vertical-align: middle;
            margin: 0;
            padding: 0;
            width: 18px;
            height: 18px;
            background: url(../images/blue.png) no-repeat;
            border: none;
            cursor: pointer;
        }

            .class_checkbox.checked {
                display: inline-block;
                *display: inline;
                vertical-align: middle;
                margin: 0;
                padding: 0;
                width: 18px;
                height: 18px;
                background-position: -40px 0 !important;
                border: none;
                cursor: pointer;
                background-position: -80px 0;
            }

        .rdoCss {
            width: 20px;
            height: 20px;
            display: inline-block;
            *display: inline;
            vertical-align: middle;
            margin: 0;
            padding: 0;
            width: 18px;
            height: 18px;
            background: url(../images/blue.png) no-repeat;
            border: none;
            cursor: pointer;
            background-position: -120px 0 !important;
        }

            .rdoCss.checked {
                display: inline-block;
                *display: inline;
                vertical-align: middle;
                margin: 0;
                padding: 0;
                width: 18px;
                height: 18px;
                background-position: -40px 0 !important;
                border: none;
                cursor: pointer;
                background-position: -140px 0 !important;
            }

        .select2-selection, .select2-selection--single {
            padding-top: 5px !important;
            border-bottom-width: 1px !important;
            border-top-width: 1px !important;
            padding-left: 0px !important;
            border-color: #D2D6DE !important;
            height: 30px !important;
            line-height: 30px !important;
        }

        /*@@font-face {
          font-family: 'FontAwesome';
          src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
          src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),
               url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
          font-weight: normal;
          font-style: normal;
        }*/

        @@font-face {
            font-family: 'proximanovalight';
            src: url('../fonts/proximanovalight.eot');
            src: local('proximanovalight'), url('../fonts/proximanovalight.woff') format('woff'), url('../fonts/proximanovalight.ttf') format('truetype');
        }
	

        .fontsforweb_fontid_12950 {
            font-family: 'proximanovalight' !important;
        }

        select {
            padding-bottom: 0px;
            padding-left: 0px;
            height: 30px;
            width: 216px;
            padding-top: 0px;
            padding-right: 0px;
            border-right-width: 1px;
            border-left-width: 1px;
        }
        .modal-header{
            background-color:#3c8dbc;
        }

        .modal-title {
            color:#fff;
        }