aside.main-sidebar
        section.sidebar
          ul.sidebar-menu
            li.treeview
              a
                i.fa.fa-dashboard
                span DashBoard
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='/Dashboard/Index')
                    i.fa.fa-calculator
                    | Activity Summary
            li.treeview
              a(href='#')
                i.fa.fa-asterisk(aria-hidden='true')
                span Master Data
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='/MasterData/Company')
                    i.fa.fa-building-o(aria-hidden='true')
                    |  Company
                li
                  a(href='/config/uom/list')
                    i.fa.fa-cube.fa-lg
                    |  U O M
                li
                  a(href='/config/currency/list')
                    i.fa.fa-money(aria-hidden='true')
                    |  Currency
                li
                  a(href='/MasterData/IncoTermList')
                    i.fa.fa-check-square-o(aria-hidden='true')
                    |  Inco Terms
                li
                  a(href='/MasterData/ProductCategoryList')
                    i.fa.fa-product-hunt(aria-hidden='true')
                    |  Product Category
                li
                  a(href='/MasterData/LocationList')
                    i.fa.fa-map-marker(aria-hidden='true')
                    |  Location
                li
                  a(href='/MasterData/PaymentTypeList')
                    i.fa.fa-credit-card-alt(aria-hidden='true')
                    |  Payment Type
                li
                  a(href='/MasterData/Products')
                    i.fa.fa-briefcase(aria-hidden='true')
                    |  Products
                li
                  a(href='/MasterData/Suppliers')
                    i.fa.fa-male(aria-hidden='true')
                    |  Supplier
                li
                  a(href='/MasterData/Customers')
                    i.fa.fa-users(aria-hidden='true')
                    |  Customer
            li.treeview
              a(href='#')
                i.fa.fa-fighter-jet(aria-hidden='true')
                span Quotation
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='/Quotation/StandardRateProfile?quotationNo=STANDARD&isLink=True')
                    i.fa.fa-link
                    |  Standard Quotation
                li
                  a(href='/Quotation/CustomerQuotationList')
                    i.fa.fa-users(aria-hidden='true')
                    |  Customer Tariff
                li
                  a(href='/Quotation/SupplierQuotationList')
                    i.fa.fa-male(aria-hidden='true')
                    |  Supplier Tariff
            li.treeview
              a(href='#')
                i.fa.fa-exchange(aria-hidden='true')
                span Transaction
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='/Operation/PurchaseOrderList')
                    i.fa.fa-shopping-cart(aria-hidden='true')
                    |  Purchase Order
                li
                  a(href='/Operation/GoodsReceiveList')
                    i.fa.fa-truck(aria-hidden='true')
                    |  Goods Receive
                li
                  a(href='/Operation/Orders')
                    i.fa.fa-sticky-note(aria-hidden='true')
                    |  Sales Entry
            li.treeview
              a(href='#')
                i.fa.fa-credit-card-alt(aria-hidden='true')
                span  Billing
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='/Billing/InvoiceList')
                    i.fa.fa-list(aria-hidden='true')
                    |  Invoice
                li
                  a(href='/Billing/InvoiceApproval')
                    i.fa.fa-check(aria-hidden='true')
                    |  Invoice Approval
                li
                  a(href='/Billing/UnbilledInvoices')
                    i.fa.fa-list-alt(aria-hidden='true')
                    |  Unbilled Invoices
            li.treeview
              a(href='#')
                i.fa.fa-search(aria-hidden='true')
                span Inquiry
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='/Operation/StockInquiry')
                    i.fa.fa-stack-exchange(aria-hidden='true')
                    |  Stock Inquiry
                li
                  a(href='/Billing/InvoiceInquiry')
                    i.fa.fa-info(aria-hidden='true')
                    |  Invoice Inquiry
                li
                  a(href='/Operation/SerialInquiry')
                    i.fa.fa-info(aria-hidden='true')
                    |  Serial Inquiry
            li.treeview
              a(href='#')
                i.fa.fa-pie-chart(aria-hidden='true')
                span Reports
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='/Reports/DailySalesReport')
                    i.fa.fa-bar-chart(aria-hidden='true')
                    |  Daily Sales
                li
                  a(href='/Reports/ProfitAndLossReport')
                    i.fa.fa-balance-scale(aria-hidden='true')
                    |  Profit & Loss
            li.treeview
              a(href='#')
                i.fa.fa-sliders(aria-hidden='true')
                span Set Up
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='/User/UserList')
                    i.fa.fa-users(aria-hidden='true')
                    |  Users
                li
                  a(href='/User/RoleRights')
                    i.fa.fa-users(aria-hidden='true')
                    |  Role Rights