extends ../inc/layout

block content
  div
   .box.box-solid.box-default
      .box-header.with-border
        h3.box-title
          i.fa.fa-map-marker
          |  Dashboard
      .box-body
        .row
          .col-md-3.col-sm-6.col-xs-12
            .info-box
              span.info-box-icon.bg-aqua
                i.fa.fa-bar-chart(aria-hidden='true')
              .info-box-content
                span.info-box-text Daily Sales
                span.info-box-number 100
          .col-md-3.col-sm-6.col-xs-12
            .info-box
              span.info-box-icon.bg-red
                i.fa.fa-google-plus
              .info-box-content
                span.info-box-text Daily Goods Issue
                span.info-box-number 24
          .col-md-3.col-sm-6.col-xs-12
            .info-box
              span.info-box-icon.bg-green
                i.fa.fa-truck(aria-hidden='true')
              .info-box-content
                span.info-box-text Goods Receive
                span.info-box-number 46
          .col-md-3.col-sm-6.col-xs-12
            .info-box
              span.info-box-icon.bg-yellow
                i.fa.fa-credit-card(aria-hidden='true')
              .info-box-content
                span.info-box-text Purchase Orders
                span.info-box-number 76
        .row(style='margin-top:20px;')
          .col-md-8
            p.text-center
              strong Sales: 1 Jan, 2014 - 30 Jul, 2014
            .chart
              // Sales Chart Canvas
              canvas#salesChart(style='height: 180px; width: 703px;', width='703', height='180')
            // /.chart-responsive
          .col-md-4
            .row
              .col-md-8
                .chart-responsive
                  canvas#pieChart(height='175', width='205', style='width: 205px; height: 175px;')
                // ./chart-responsive
              // /.col
              .col-md-4
                ul.chart-legend.clearfix
                  li
                    i.fa.fa-circle-o.text-red
                    |  1
                  li
                    i.fa.fa-circle-o.text-green
                    |  2
                  li
                    i.fa.fa-circle-o.text-yellow
                    |  3
                  li
                    i.fa.fa-circle-o.text-aqua
                    |  4
                  li
                    i.fa.fa-circle-o.text-light-blue
                    |  5
                  li
                    i.fa.fa-circle-o.text-gray
                    |  6